.App{
display: flex;
flex-direction: row;
justify-content: space-evenly;
background-image: url(https://www.pngkey.com/png/full/1-14330_money-png-falling-money-falling-transparent-background.png);
}

.container{

display: flex;
flex-direction: column;
justify-content: space-evenly;
margin-top: 100px;


}

.col{

border: 5px;
border-radius: 10%;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
background: rgba(170, 187, 97, 0.5);
}

.container2{
    border: 5px;
    border-radius: 10%;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: rgba(170, 187, 97, 0.5);


}

*{
    margin: 0%;
    padding: 0%;
}

.input{

    display: flex;
    flex-direction: column;


}

.button{

text-align: center;

}

.form{

margin: 30px;

}

.result{

    border: 2px;
    border-radius: 5px


}